<a href="https://colab.research.google.com/github/Abd-Fattah/Database-Management-and-Practice--IBT3205-/blob/main/Lab%236.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import sqlite3
from employee import Employee
import pandas as pd

In [ ]:
conn = sqlite3.connect(':memory:')

c = conn.cursor()

c.execute("""
CREATE TABLE employees (
    first text,
    last text,
    pay integer
)
""")

In [42]:
def insert_emp(emp):
  with conn:
    c.execute("insert into employees values (:first, :last, :pay)", {'first': emp.first, 'last': emp.last, 'pay': emp.pay})

def get_emps_by_name(lastname):
  c.execute("select * from employees where last=:last", {'last': lastname})
  return c.fetchall()

def get_all_emps():
  c.execute("select * from employees")
  return c.fetchall()

def delete_all_emps():
  c.execute("delete from employees")
  return c.fetchall()

def update_pay(emp, pay):
  with conn:
    c.execute("""update employees set pay = :pay
    where first = :first and last = :last""",
     {'first': emp.first, 'last': emp.last, 'pay': pay})

def remove_emp(emp):
  with conn:
    c.execute("delete from employees where first = :first and last = :last",
     {'first': emp.first, 'last': emp.last})

In [44]:
emp_1 = Employee('John', 'Doe', 80000)
emp_2 = Employee('Jane', 'Doe', 90000)
emp_3 = Employee('Jane', 'Lee', 190000)
emp_4 = Employee('Yuna', 'Kim', 190000)

In [ ]:
insert_emp(emp_1)
insert_emp(emp_2)
insert_emp(emp_3)
insert_emp(emp_4)

employee_list = []

employee_list.append(emp_1.last)
employee_list.append(emp_2.last)
employee_list.append(emp_3.last)
employee_list.append(emp_4.last)

for employee in employee_list:
  print(get_emps_by_name(employee))

emps = get_emps_by_name( 'Doe')
print (emps)

empsl = get_emps_by_name('Lee')
print (empsl)

update_pay(emp_2, 95000)

remove_emp(emp_1)

emps = get_emps_by_name( 'Doe')
print (emps)

all_emps = get_all_emps()
print (all_emps)

delete_all_emps()
all_emps = get_all_emps()
print(all_emps)

conn.close()

In [23]:
def execute_sql_from_file(database_name, sql_file_name):
  try:
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()

    with open(sql_file_name, 'r') as sql_file:
      sql_script = sql_file.read()

    cursor.executescript(sql_script)

    conn.commit()
    conn.close()

  except sqlite3.Error as e:
    print(f"sqlite3 error: {e}")
  except FileNotFoundError as e:
    print(f"File not found error: {e}")
  except Exception as e:
    print(f"An error occurred: {e}")
  finally:
    if conn:
      conn.close()

In [ ]:
database_name = "students.db"
sql_file_name = "student_tables.sql"
execute_sql_from_file(database_name, sql_file_name)

In [ ]:
database_name = "students.db"
sql_file_name = "student_insert.sql"
execute_sql_from_file(database_name, sql_file_name)

In [26]:
conn = sqlite3.connect('students.db')
c = conn.cursor()

select = """
  Select * from student
"""

studentsdb_df = pd.read_sql_query(select, conn)
studentsdb_df


conn.close()

In [ ]:
studentsdb_df

In [ ]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('contacts.db')

# Cursor to execute SQL commands
c = conn.cursor()

# Create table if it doesn't already exist
c.execute('''
CREATE TABLE IF NOT EXISTS contacts (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    phone TEXT NOT NULL,
    email TEXT
)
''')

# Function to add a new contact
def add_contact(first_name, last_name, phone, email=None):
    with conn:
        c.execute("INSERT INTO contacts (first_name, last_name, phone, email) VALUES (:first_name, :last_name, :phone, :email)",
                  {'first_name': first_name, 'last_name': last_name, 'phone': phone, 'email': email})
        print(f"Contact added: {first_name} {last_name}")

# Function to search for contacts by last name
def search_contact(last_name):
    c.execute("SELECT * FROM contacts WHERE last_name = :last_name", {'last_name': last_name})
    results = c.fetchall()
    if results:
        for contact in results:
            print(contact)
    else:
        print("No contacts found.")

# Function to update contact details
def update_contact(contact_id, first_name=None, last_name=None, phone=None, email=None):
    with conn:
        if first_name:
            c.execute("UPDATE contacts SET first_name = :first_name WHERE id = :id", {'first_name': first_name, 'id': contact_id})
        if last_name:
            c.execute("UPDATE contacts SET last_name = :last_name WHERE id = :id", {'last_name': last_name, 'id': contact_id})
        if phone:
            c.execute("UPDATE contacts SET phone = :phone WHERE id = :id", {'phone': phone, 'id': contact_id})
        if email:
            c.execute("UPDATE contacts SET email = :email WHERE id = :id", {'email': email, 'id': contact_id})
        print(f"Contact with ID {contact_id} updated.")

# Function to delete a contact
def delete_contact(contact_id):
    with conn:
        c.execute("DELETE FROM contacts WHERE id = :id", {'id': contact_id})
        print(f"Contact with ID {contact_id} deleted.")

# Function to list all contacts
def list_all_contacts():
    c.execute("SELECT * FROM contacts")
    contacts = c.fetchall()
    if contacts:
        for contact in contacts:
            print(contact)
    else:
        print("No contacts in the database.")

# Main program for demonstration
if __name__ == '__main__':
    while True:
        print("\nContact Management System")
        print("1. Add Contact")
        print("2. Search Contact")
        print("3. Update Contact")
        print("4. Delete Contact")
        print("5. List All Contacts")
        print("6. Exit")

        choice = input("Enter your choice: ")

        if choice == '1':
            first_name = input("Enter first name: ")
            last_name = input("Enter last name: ")
            phone = input("Enter phone number: ")
            email = input("Enter email (optional): ")
            add_contact(first_name, last_name, phone, email)
        elif choice == '2':
            last_name = input("Enter last name to search: ")
            search_contact(last_name)
        elif choice == '3':
            contact_id = int(input("Enter contact ID to update: "))
            print("Leave fields blank to keep current value.")
            first_name = input("Enter new first name (or press Enter to skip): ") or None
            last_name = input("Enter new last name (or press Enter to skip): ") or None
            phone = input("Enter new phone number (or press Enter to skip): ") or None
            email = input("Enter new email (or press Enter to skip): ") or None
            update_contact(contact_id, first_name, last_name, phone, email)
        elif choice == '4':
            contact_id = int(input("Enter contact ID to delete: "))
            delete_contact(contact_id)
        elif choice == '5':
            list_all_contacts()
        elif choice == '6':
            print("Exiting the program.")
            break
        else:
            print("Invalid choice. Please try again.")