<a href="https://colab.research.google.com/github/Abd-Fattah/Database-Management-and-Practice--IBT3205-/blob/main/Lab%233.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import sklearn as skl
import sqlite3

from faker import Faker
fake = Faker()

In [ ]:
conn = sqlite3.connect('Education_Company_Database.sqlite')

## First table Companies

In [ ]:
conn.execute("DROP TABLE Companies")

conn.commit

In [ ]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Companies
(ID INT PRIMARY KEY,
 NAME TEXT NOT NULL,
 HEADQUARTERS TEXT
);
''')

conn.commit

In [ ]:
tables_list = ["Companies", "Branches", "Courses", "Students", "Enrollment", "Logging", "Teacher", "Department"]

In [ ]:
for i in range(5):
  name = fake.company()
  headquarters = fake.city()
  conn.execute(f"INSERT INTO Companies (ID, NAME, HEADQUARTERS) VALUES ({i+1}, '{name}', '{headquarters}')")
conn.commit()

In [ ]:
cursor = conn.execute("SELECT ID, NAME, HEADQUARTERS FROM Companies")

for row in cursor:
  print("ID = ", row[0])
  print("NAME = ", row[1])
  print("HEADQUARTERS", row[2])

## Second table Branches

In [ ]:
conn.execute("DROP TABLE Branches")

In [ ]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Branches
(ID INT PRIMARY KEY,
 COMPANY_ID INT REFERENCES Companies(id),
 LOCATION TEXT
);
''')

conn.commit

In [ ]:
for value in range(5):
    location = fake.address()
    conn.execute(f"INSERT INTO {tables_list[1]} (ID, LOCATION) VALUES ({value+1}, '{location}');")
conn.commit()

In [ ]:
cursor = conn.execute("SELECT ID, COMPANY_ID, LOCATION FROM Branches")

for row in cursor:
  print("ID = ", row[0])
  print("COMPANY_ID = ", row[1])
  print("LOCATION = ", row[2])

## Third table Courses

In [ ]:
conn.execute("DROP TABLE COURSES")

In [ ]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Courses
(ID INT PRIMARY KEY,
 BRANCH_ID INT REFERENCES Branches(id),
 NAME TEXT,
 DURATION INT
);
''')
conn.commit

In [ ]:
course_duration = []

for _ in range(5):
  course_duration.append(fake.random_int(min=16, max=128))


conn.execute(f"INSERT INTO {tables_list[2]} (ID, NAME, DURATION) VALUES (1, 'Introduction to Python', {course_duration[0]});")
conn.execute(f"INSERT INTO {tables_list[2]} (ID, NAME, DURATION) VALUES (2, 'Data Science Fundamentals', {course_duration[1]});")
conn.execute(f"INSERT INTO {tables_list[2]} (ID, NAME, DURATION) VALUES (3, 'Machine Learning for Beginners', {course_duration[2]});")
conn.execute(f"INSERT INTO {tables_list[2]} (ID, NAME, DURATION) VALUES (4, 'Web Development with JavaScript', {course_duration[3]});")
conn.execute(f"INSERT INTO {tables_list[2]} (ID, NAME, DURATION) VALUES (5, 'Deep Learning with TensorFlow', {course_duration[4]});")
conn.commit

In [ ]:
cursor = conn.execute("SELECT ID, BRANCH_ID, NAME, DURATION FROM COURSES")

for row in cursor:
  print("ID = ", row[0])
  print("BRANCH_ID = ", row[1])
  print("NAME = ", row[2])
  print("DURATION = ", row[3])

## Fourth table Students

In [ ]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Students
(ID INT PRIMARY KEY,
 COURSE_ID INT REFERENCES Courses(id),
 NAME TEXT,
 AGE INT
);
''')
conn.commit

In [ ]:
for _ in range(5):
  student_id = fake.random_int(min=1, max=10000)
  course_id = fake.random_int(min=1, max=5)
  student_name = fake.name()
  student_age = fake.random_int(min=18, max=30)
  conn.execute(f"INSERT INTO Students (ID, COURSE_ID, NAME, AGE) VALUES ({student_id}, {course_id}, '{student_name}', {student_age});")

conn.commit()

In [ ]:
cursor = conn.execute("SELECT ID, COURSE_ID, NAME, AGE FROM STUDENTS")

for row in cursor:
  print("ID = ", row[0])
  print("COURSE_ID = ", row[1])
  print("NAME= ", row[2])
  print("AGE= ", row[3])

## Fifth table Enrollment

In [ ]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Enrollment
(ID INT PRIMARY KEY,
 STUDENT_ID INT REFERENCES STUDENTS(id),
 COURSE_ID INT REFERENCES COURSES(id),
 ENROLLMENT_DATE TEXT
);
''')
conn.commit

In [ ]:
from datetime import datetime, timedelta

for i in range(5):
    student_id = fake.random_int(min=1, max=10000)
    course_id = fake.random_int(min=1, max=5)
    enrollment_date = fake.date_between(start_date='-1y', end_date='today')
    conn.execute(f"INSERT INTO Enrollment (ID, STUDENT_ID, COURSE_ID, ENROLLMENT_DATE) VALUES ({i+1}, {student_id}, {course_id}, '{enrollment_date}');")

conn.commit()

In [ ]:
cursor = conn.execute("SELECT ID, STUDENT_ID, COURSE_ID, ENROLLMENT_DATE FROM Enrollment")

for row in cursor:
  print("ID = ", row[0])
  print("STUDENT_ID = ", row[1])
  print("COURSE_ID = ", row[2])
  print("ENROLLMENT_DATE = ", row[3])

## Sixth table Logging

In [ ]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Logging
(ID INT PRIMARY KEY,
 ACTIVITY TEXT,
 TIMESTAMP TEXT
);
''')
conn.commit

In [ ]:
for i in range(5):
    activity = fake.sentence()
    timestamp = fake.date_time_between(start_date="-1y", end_date="now")
    conn.execute(f"INSERT INTO Logging (ID, ACTIVITY, TIMESTAMP) VALUES ({i+1}, '{activity}', '{timestamp}');")

conn.commit()

In [ ]:
cursor = conn.execute("SELECT ID, ACTIVITY, TIMESTAMP FROM Logging")

for row in cursor:
    print("ID =", row[0])
    print("ACTIVITY =", row[1])
    print("TIMESTAMP =", row[2])

## Seventh table Teacher

In [ ]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Teacher
(ID INT PRIMARY KEY,
 BRANCH_ID REFERENCES BRANCHES(id),
 NAME TEXT,
 SUBJECT TEXT
);
''')
conn.commit

In [ ]:
for i in range(5):
  branch_id = fake.random_int(min=1, max=5)
  teacher_name = fake.name()
  subject = fake.job()
  conn.execute(f"INSERT INTO Teacher (ID, BRANCH_ID, NAME, SUBJECT) VALUES ({i+1}, {branch_id}, '{teacher_name}', '{subject}');")

conn.commit()

In [ ]:
cursor = conn.execute("SELECT ID, BRANCH_ID, NAME, SUBJECT FROM Teacher")

for row in cursor:
    print("ID =", row[0])
    print("BRANCH_ID =", row[1])
    print("NAME =", row[2])
    print("SUBJECT =", row[3])

## Eighth table Department

In [ ]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Department
(ID INT PRIMARY KEY,
 BRANCH_ID REFERENCES BRANCHES(id),
 NAME TEXT
);
''')
conn.commit

In [ ]:
for i in range(5):
  branch_id = fake.random_int(min=1, max=5)
  department_name = fake.job()
  conn.execute(f"INSERT INTO Department (ID, BRANCH_ID, NAME) VALUES ({i+1}, {branch_id}, '{department_name}');")

conn.commit()

In [ ]:
cursor = conn.execute("SELECT ID, BRANCH_ID, NAME FROM Department")

for row in cursor:
    print("ID =", row[0])
    print("BRANCH_ID =", row[1])
    print("NAME =", row[2])

## Database Schema

In [ ]:
from eralchemy import render_er

er_diagram = '''
[Companies]
*ID int
NAME text
HEADQUARTERS text

[Branches]
*ID int
COMPANY_ID int
LOCATION text

[Courses]
*ID int
BRANCH_ID int
NAME text
DURATION int

[Students]
*ID int
COURSE_ID int
NAME text
AGE int

[Enrollment]
*ID int
STUDENT_ID int
COURSE_ID int
ENROLLMENT_DATE text

[Logging]
*ID int
ACTIVITY text
TIMESTAMP text

[Teacher]
*ID int
BRANCH_ID int
NAME text
SUBJECT text

[Department]
*ID int
BRANCH_ID int
NAME text

Branches *-- Companies
Courses *-- Branches
Students *-- Courses
Enrollment *-- Students
Enrollment *-- Courses
Teacher *-- Branches
Department *-- Branches
'''

# Render the ER diagram to an image file, you can find png on your drive
output_path = "/media/ompany_courses_erd.png"
render_er(er_diagram, output_path)

output_path