<a href="https://colab.research.google.com/github/Abd-Fattah/Database-Management-and-Practice--IBT3205-/blob/main/Lab%233.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [115]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import sklearn as skl
import sqlite3

from faker import Faker
fake = Faker()

In [122]:
conn = sqlite3.connect('Education_Company_Database.sqlite')

## First table Companies

In [121]:
conn.execute("DROP TABLE Companies")

conn.commit

OperationalError: database is locked

In [123]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Companies
(ID INT PRIMARY KEY,
 NAME TEXT NOT NULL,
 HEADQUARTERS TEXT
);
''')

conn.commit

In [124]:
tables_list = ["Companies", "Branches", "Courses", "Students", "Enrollment", "Logging", "Teacher", "Department"]

In [125]:
for i in range(5):
  name = fake.company()
  headquarters = fake.city()
  conn.execute(f"INSERT INTO Companies (ID, NAME, HEADQUARTERS) VALUES ({i+1}, '{name}', '{headquarters}')")
conn.commit()

In [126]:
cursor = conn.execute("SELECT ID, NAME, HEADQUARTERS FROM Companies")

for row in cursor:
  print("ID = ", row[0])
  print("NAME = ", row[1])
  print("HEADQUARTERS", row[2])

ID =  1
NAME =  Jones-Lowe
HEADQUARTERS Chaseside
ID =  2
NAME =  Boyd, Williams and Rodriguez
HEADQUARTERS East Kimland
ID =  3
NAME =  Tran, Watson and Martinez
HEADQUARTERS North Taratown
ID =  4
NAME =  Wilkins-Olson
HEADQUARTERS Hansonfort
ID =  5
NAME =  Lewis-Crosby
HEADQUARTERS South Victoriafurt

## Second table Branches

In [ ]:
conn.execute("DROP TABLE Branches")

In [127]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Branches
(ID INT PRIMARY KEY,
 COMPANY_ID INT REFERENCES Companies(id),
 LOCATION TEXT
);
''')

conn.commit

In [128]:
for value in range(5):
    location = fake.address()
    conn.execute(f"INSERT INTO {tables_list[1]} (ID, LOCATION) VALUES ({value+1}, '{location}');")
conn.commit()

In [129]:
cursor = conn.execute("SELECT ID, COMPANY_ID, LOCATION FROM Branches")

for row in cursor:
  print("ID = ", row[0])
  print("COMPANY_ID = ", row[1])
  print("LOCATION = ", row[2])

ID =  1
COMPANY_ID =  None
LOCATION =  25509 Natalie Junctions Suite 742
South Ann, NV 99380
ID =  2
COMPANY_ID =  None
LOCATION =  80876 John Via
South Leslieland, MT 35569
ID =  3
COMPANY_ID =  None
LOCATION =  482 Mann Trail
Colonmouth, AK 28944
ID =  4
COMPANY_ID =  None
LOCATION =  624 Shaw Pines
Port Sherylville, NH 86526
ID =  5
COMPANY_ID =  None
LOCATION =  94469 Johnny Ramp Apt. 329
Emilyborough, NJ 26878

## Third table Courses

In [102]:
conn.execute("DROP TABLE COURSES")

In [131]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Courses
(ID INT PRIMARY KEY,
 BRANCH_ID INT REFERENCES Branches(id),
 NAME TEXT,
 DURATION INT
);
''')
conn.commit

In [132]:
course_duration = []

for _ in range(5):
  course_duration.append(fake.random_int(min=16, max=128))


conn.execute(f"INSERT INTO {tables_list[2]} (ID, NAME, DURATION) VALUES (1, 'Introduction to Python', {course_duration[0]});")
conn.execute(f"INSERT INTO {tables_list[2]} (ID, NAME, DURATION) VALUES (2, 'Data Science Fundamentals', {course_duration[1]});")
conn.execute(f"INSERT INTO {tables_list[2]} (ID, NAME, DURATION) VALUES (3, 'Machine Learning for Beginners', {course_duration[2]});")
conn.execute(f"INSERT INTO {tables_list[2]} (ID, NAME, DURATION) VALUES (4, 'Web Development with JavaScript', {course_duration[3]});")
conn.execute(f"INSERT INTO {tables_list[2]} (ID, NAME, DURATION) VALUES (5, 'Deep Learning with TensorFlow', {course_duration[4]});")
conn.commit

In [133]:
cursor = conn.execute("SELECT ID, BRANCH_ID, NAME, DURATION FROM COURSES")

for row in cursor:
  print("ID = ", row[0])
  print("BRANCH_ID = ", row[1])
  print("NAME = ", row[2])
  print("DURATION = ", row[3])

ID =  1
BRANCH_ID =  None
NAME =  Introduction to Python
DURATION =  57
ID =  2
BRANCH_ID =  None
NAME =  Data Science Fundamentals
DURATION =  92
ID =  3
BRANCH_ID =  None
NAME =  Machine Learning for Beginners
DURATION =  50
ID =  4
BRANCH_ID =  None
NAME =  Web Development with JavaScript
DURATION =  73
ID =  5
BRANCH_ID =  None
NAME =  Deep Learning with TensorFlow
DURATION =  44

## Fourth table Students

In [134]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Students
(ID INT PRIMARY KEY,
 COURSE_ID INT REFERENCES Courses(id),
 NAME TEXT,
 AGE INT
);
''')
conn.commit

In [136]:
for _ in range(5):
  student_id = fake.random_int(min=1, max=10000)
  course_id = fake.random_int(min=1, max=5)
  student_name = fake.name()
  student_age = fake.random_int(min=18, max=30)
  conn.execute(f"INSERT INTO Students (ID, COURSE_ID, NAME, AGE) VALUES ({student_id}, {course_id}, '{student_name}', {student_age});")

conn.commit()

In [137]:
cursor = conn.execute("SELECT ID, COURSE_ID, NAME, AGE FROM STUDENTS")

for row in cursor:
  print("ID = ", row[0])
  print("COURSE_ID = ", row[1])
  print("NAME= ", row[2])
  print("AGE= ", row[3])

ID =  89
COURSE_ID =  5
NAME=  Lisa Cook
AGE=  25
ID =  13
COURSE_ID =  3
NAME=  Angel Curry
AGE=  26
ID =  1710
COURSE_ID =  4
NAME=  Thomas Burch
AGE=  18
ID =  5956
COURSE_ID =  3
NAME=  John Gray
AGE=  21
ID =  983
COURSE_ID =  4
NAME=  Tina Martin
AGE=  25
ID =  5196
COURSE_ID =  1
NAME=  Molly Jackson MD
AGE=  28
ID =  7236
COURSE_ID =  4
NAME=  Nicole Arias
AGE=  26

## Fifth table Enrollment

In [138]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Enrollment
(ID INT PRIMARY KEY,
 STUDENT_ID INT REFERENCES STUDENTS(id),
 COURSE_ID INT REFERENCES COURSES(id),
 ENROLLMENT_DATE TEXT
);
''')
conn.commit

In [139]:
from datetime import datetime, timedelta

for i in range(5):
    student_id = fake.random_int(min=1, max=10000)
    course_id = fake.random_int(min=1, max=5)
    enrollment_date = fake.date_between(start_date='-1y', end_date='today')
    conn.execute(f"INSERT INTO Enrollment (ID, STUDENT_ID, COURSE_ID, ENROLLMENT_DATE) VALUES ({i+1}, {student_id}, {course_id}, '{enrollment_date}');")

conn.commit()

In [140]:
cursor = conn.execute("SELECT ID, STUDENT_ID, COURSE_ID, ENROLLMENT_DATE FROM Enrollment")

for row in cursor:
  print("ID = ", row[0])
  print("STUDENT_ID = ", row[1])
  print("COURSE_ID = ", row[2])
  print("ENROLLMENT_DATE = ", row[3])

ID =  1
STUDENT_ID =  4265
COURSE_ID =  3
ENROLLMENT_DATE =  2024-06-27
ID =  2
STUDENT_ID =  2354
COURSE_ID =  5
ENROLLMENT_DATE =  2023-12-23
ID =  3
STUDENT_ID =  9330
COURSE_ID =  1
ENROLLMENT_DATE =  2024-04-06
ID =  4
STUDENT_ID =  214
COURSE_ID =  2
ENROLLMENT_DATE =  2023-11-24
ID =  5
STUDENT_ID =  5973
COURSE_ID =  3
ENROLLMENT_DATE =  2024-03-13

## Sixth table Logging

In [141]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Logging
(ID INT PRIMARY KEY,
 ACTIVITY TEXT,
 TIMESTAMP TEXT
);
''')
conn.commit

In [142]:
for i in range(5):
    activity = fake.sentence()
    timestamp = fake.date_time_between(start_date="-1y", end_date="now")
    conn.execute(f"INSERT INTO Logging (ID, ACTIVITY, TIMESTAMP) VALUES ({i+1}, '{activity}', '{timestamp}');")

conn.commit()

In [143]:
cursor = conn.execute("SELECT ID, ACTIVITY, TIMESTAMP FROM Logging")

for row in cursor:
    print("ID =", row[0])
    print("ACTIVITY =", row[1])
    print("TIMESTAMP =", row[2])

ID = 1
ACTIVITY = Little most dog politics yourself.
TIMESTAMP = 2024-09-14 22:12:25
ID = 2
ACTIVITY = Find item public its.
TIMESTAMP = 2023-12-07 16:39:35
ID = 3
ACTIVITY = Task view material he.
TIMESTAMP = 2024-02-10 03:21:28
ID = 4
ACTIVITY = Campaign even customer Congress see.
TIMESTAMP = 2024-10-01 02:24:58
ID = 5
ACTIVITY = Physical yet effect determine huge sense himself someone.
TIMESTAMP = 2023-12-09 08:04:27

## Seventh table Teacher

In [145]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Teacher
(ID INT PRIMARY KEY,
 BRANCH_ID REFERENCES BRANCHES(id),
 NAME TEXT,
 SUBJECT TEXT
);
''')
conn.commit

In [146]:
for i in range(5):
  branch_id = fake.random_int(min=1, max=5)
  teacher_name = fake.name()
  subject = fake.job()
  conn.execute(f"INSERT INTO Teacher (ID, BRANCH_ID, NAME, SUBJECT) VALUES ({i+1}, {branch_id}, '{teacher_name}', '{subject}');")

conn.commit()

In [147]:
cursor = conn.execute("SELECT ID, BRANCH_ID, NAME, SUBJECT FROM Teacher")

for row in cursor:
    print("ID =", row[0])
    print("BRANCH_ID =", row[1])
    print("NAME =", row[2])
    print("SUBJECT =", row[3])

ID = 1
BRANCH_ID = 2
NAME = David Francis
SUBJECT = Scientist, product/process development
ID = 2
BRANCH_ID = 5
NAME = Brenda Caldwell
SUBJECT = Paediatric nurse
ID = 3
BRANCH_ID = 1
NAME = Amber Ross
SUBJECT = Travel agency manager
ID = 4
BRANCH_ID = 4
NAME = Jacob White
SUBJECT = Maintenance engineer
ID = 5
BRANCH_ID = 3
NAME = Michael Parker
SUBJECT = Doctor, hospital

## Eighth table Department

In [150]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Department
(ID INT PRIMARY KEY,
 BRANCH_ID REFERENCES BRANCHES(id),
 NAME TEXT
);
''')
conn.commit

In [151]:
for i in range(5):
  branch_id = fake.random_int(min=1, max=5)
  department_name = fake.job()
  conn.execute(f"INSERT INTO Department (ID, BRANCH_ID, NAME) VALUES ({i+1}, {branch_id}, '{department_name}');")

conn.commit()

In [152]:
cursor = conn.execute("SELECT ID, BRANCH_ID, NAME FROM Department")

for row in cursor:
    print("ID =", row[0])
    print("BRANCH_ID =", row[1])
    print("NAME =", row[2])

ID = 1
BRANCH_ID = 3
NAME = Fish farm manager
ID = 2
BRANCH_ID = 5
NAME = Health visitor
ID = 3
BRANCH_ID = 1
NAME = Seismic interpreter
ID = 4
BRANCH_ID = 3
NAME = Medical technical officer
ID = 5
BRANCH_ID = 2
NAME = Research officer, political party

## Database Schema

In [155]:
from eralchemy import render_er

# Define the schema in a format that can be rendered into an ERD diagram.
er_diagram = '''
[Companies]
*ID int
NAME text
HEADQUARTERS text

[Branches]
*ID int
COMPANY_ID int
LOCATION text

[Courses]
*ID int
BRANCH_ID int
NAME text
DURATION int

[Students]
*ID int
COURSE_ID int
NAME text
AGE int

[Enrollment]
*ID int
STUDENT_ID int
COURSE_ID int
ENROLLMENT_DATE text

[Logging]
*ID int
ACTIVITY text
TIMESTAMP text

[Teacher]
*ID int
BRANCH_ID int
NAME text
SUBJECT text

[Department]
*ID int
BRANCH_ID int
NAME text

Branches *-- Companies
Courses *-- Branches
Students *-- Courses
Enrollment *-- Students
Enrollment *-- Courses
Teacher *-- Branches
Department *-- Branches
'''

# Render the ER diagram to an image file
output_path = "/mnt/data/company_courses_erd.png"
render_er(er_diagram, output_path)

output_path

Cannot process filename_or_input str: Could not parse SQLAlchemy URL from string '
[Companies]
*ID int
NAME text
HEADQUARTERS text

[Branches]
*ID int
COMPANY_ID int
LOCATION text

[Courses]
*ID int
BRANCH_ID int
NAME text
DURATION int

[Students]
*ID int
COURSE_ID int
NAME text
AGE int

[Enrollment]
*ID int
STUDENT_ID int
COURSE_ID int
ENROLLMENT_DATE text

[Logging]
*ID int
ACTIVITY text
TIMESTAMP text

[Teacher]
*ID int
BRANCH_ID int
NAME text
SUBJECT text

[Department]
*ID int
BRANCH_ID int
NAME text

Branches *-- Companies
Courses *-- Branches
Students *-- Courses
Enrollment *-- Students
Enrollment *-- Courses
Teacher *-- Branches
Department *-- Branches
'

'/mnt/data/company_courses_erd.png'