<a href="https://colab.research.google.com/github/Abd-Fattah/Database-Management-and-Practice--IBT3205-/blob/main/Lab%235.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
# Import the required library
import sqlite3

# Connect to the database (or create it if it doesnâ€™t exist)
conn = sqlite3.connect('AdvancedSQLLab.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# SQL commands to create tables
commands = [
    """
    CREATE TABLE Products (
        ProductID INTEGER PRIMARY KEY,
        ProductName TEXT,
        Price REAL
    );
    """,
    """
    CREATE TABLE Customers (
        CustomerID INTEGER PRIMARY KEY,
        CustomerName TEXT,
        ContactNumber TEXT
    );
    """,
    """
    CREATE TABLE Sales (
        SaleID INTEGER PRIMARY KEY,
        ProductID INTEGER,
        CustomerID INTEGER,
        SaleDate DATE,
        SaleAmount REAL,
        FOREIGN KEY (ProductID) REFERENCES Products(ProductID),
        FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
    );
    """,
    """
    CREATE TABLE Inventories (
        InventoryID INTEGER PRIMARY KEY,
        ProductID INTEGER,
        StockQuantity INTEGER,
        FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
    );
    """,
    """
    CREATE TABLE Suppliers (
        SupplierID INTEGER PRIMARY KEY,
        SupplierName TEXT,
        ContactNumber TEXT
    );
    """
]

# Execute the commands to create tables
for command in commands:
    cursor.execute(command)

# SQL commands to insert sample data into tables
commands = [
    """
    INSERT INTO Products (ProductName, Price)
    VALUES ('Product A', 20.0), ('Product B', 15.0), ('Product C', 30.0);
    """,
    """
    INSERT INTO Customers (CustomerName, ContactNumber)
    VALUES ('Customer 1', '1234567890'), ('Customer 2', '0987654321'), ('Customer 3', '1122334455');
    """,
    """
    INSERT INTO Sales (ProductID, CustomerID, SaleDate, SaleAmount)
    VALUES (1, 1, '2023-10-01', 40.0), (2, 2, '2023-10-02', 30.0), (3, 3, '2023-10-03', 60.0);
    """,
    """
    INSERT INTO Inventories (ProductID, StockQuantity)
    VALUES (1, 100), (2, 200), (3, 150);
    """,
    """
    INSERT INTO Suppliers (SupplierName, ContactNumber)
    VALUES ('Supplier 1', '1112223333'), ('Supplier 2', '4445556666'), ('Supplier 3', '7778889999');
    """
]

# Execute the commands to insert sample data into tables
for command in commands:
    cursor.execute(command)

# Commit the transactions and close the connection
conn.commit()
conn.close()

# Connect to the database
conn = sqlite3.connect('AdvancedSQLLab.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# SQL commands to insert additional data into tables
commands = [
    """
    INSERT INTO Products (ProductName, Price)
    VALUES
    ('Product D', 25.0), ('Product E', 35.0), ('Product F', 28.0),
    ('Product G', 22.0), ('Product H', 19.0), ('Product I', 40.0),
    ('Product J', 29.0), ('Product K', 24.0), ('Product L', 33.0),
    ('Product M', 27.0);
    """,
    """
    INSERT INTO Customers (CustomerName, ContactNumber)
    VALUES
    ('Customer 4', '2223334444'), ('Customer 5', '5556667777'), ('Customer 6', '8889990000'),
    ('Customer 7', '1213141516'), ('Customer 8', '1718192021'), ('Customer 9', '2223242526'),
    ('Customer 10', '2728293031'), ('Customer 11', '3233343536'), ('Customer 12', '3738394041'),
    ('Customer 13', '4243444546');
    """,
    """
    INSERT INTO Sales (ProductID, CustomerID, SaleDate, SaleAmount)
    VALUES
    (4, 4, '2023-10-04', 50.0), (5, 5, '2023-10-05', 70.0), (6, 6, '2023-10-06', 56.0),
    (7, 7, '2023-10-07', 44.0), (8, 8, '2023-10-08', 38.0), (9, 9, '2023-10-09', 80.0),
    (10, 10, '2023-10-10', 58.0), (11, 11, '2023-10-11', 48.0), (12, 12, '2023-10-12', 66.0),
    (13, 13, '2023-10-13', 54.0);
    """,
    """
    INSERT INTO Inventories (ProductID, StockQuantity)
    VALUES
    (4, 120), (5, 220), (6, 180),
    (7, 110), (8, 210), (9, 160),
    (10, 130), (11, 230), (12, 190),
    (13, 140);
    """,
    """
    INSERT INTO Suppliers (SupplierName, ContactNumber)
    VALUES
    ('Supplier 4', '4546474849'), ('Supplier 5', '5051525354'), ('Supplier 6', '5556575859'),
    ('Supplier 7', '6061626364'), ('Supplier 8', '6566676869'), ('Supplier 9', '7071727374'),
    ('Supplier 10', '7576777879'), ('Supplier 11', '8081828384'), ('Supplier 12', '8586878889'),
    ('Supplier 13', '9091929394');
    """
]

# Execute the commands to insert additional data into tables
for command in commands:
    cursor.execute(command)

# Commit the transactions and close the connection
conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect('AdvancedSQLLab.db')
cursor = conn.cursor()

running_total_querry = """
SELECT
ProductID,
SaleDate,
SaleAmount,
SUM(SaleAmount) OVER (PARTITION BY ProductID ORDER BY SaleDate) AS RunningTotal
FROM Sales
"""

running_total_querry_pdf = pd.read_sql_query(running_total_querry, conn)
running_total_querry_pdf

In [ ]:
ranking_querry = """
SELECT
ProductID,
SaleDate,
SaleAmount,
RANK() OVER (PARTITION BY ProductID ORDER BY SaleAmount DESC) AS Ranking
FROM Sales
"""

ranking_querry_pdf = pd.read_sql_query(ranking_querry, conn)
ranking_querry_pdf

In [ ]:
cte_querry = """
WITH TotalSales_CTE AS (
  SELECT ProductID, SUM(SaleAmount) AS TotalSales
  FROM Sales
  GROUP BY ProductID
)
SELECT ProductID, TotalSales
FROM TotalSales_CTE
WHERE TotalSales > 40;
"""

cte_df = pd.read_sql_query(cte_querry, conn)
cte_df

In [ ]:
task_1_querry = """
WITH SalesSummary AS(
  SELECT ProductID, SUM(SaleAmount) AS TotalSales, AVG(SaleAMount) AS SalesAverage, MIN(SaleAmount) AS MinSales, MAX(SaleAmount) AS MaxSales
  FROM Sales
  GROUP BY ProductID
)
SELECT *
FROM SalesSummary;
"""

task_1 = pd.read_sql_query(task_1_querry, conn)
task_1

In [ ]:
task_2_querry = """
WITH TotalSales AS (
  SELECT ProductID, SUM(SaleAmount) AS TotalSales
  FROM Sales
  GROUP BY ProductID
)
SELECT ProductID, TotalSales,
RANK() OVER (ORDER BY TotalSales DESC) AS Ranking
FROM TotalSales;
"""

task_2 = pd.read_sql_query(task_2_querry, conn)
task_2

In [ ]:
task_3_querry = """
WITH TotalSales AS (
  SELECT ProductID, SUM(SaleAmount) AS TotalSales
  FROM Sales
  GROUP BY ProductID
)
SELECT ProductID, TotalSales
FROM TotalSales
ORDER BY TotalSales DESC
LIMIT 3;
"""

task_3 = pd.read_sql_query(task_3_querry, conn)
task_3

In [ ]:
task_4_querry = """
select productid, saleamount, saledate, sum(saleamount) over (partition by productid order by saledate) as runningtotal
from sales;
"""

task_4 = pd.read_sql_query(task_4_querry, conn)
task_4

In [ ]:
conn.close